APP_PORT=8080

DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=nestbook
DB_PASSWORD=nestbook
DB_DATABASE=nestbook

S3_REGION=us-east-1
S3_ENDPOINT=http://localhost:9000
S3_ACCESS_KEY=nestbook
S3_SECRET_KEY=nestbook
S3_BUCKET=nestbook
S3_FORCE_PATH_STYLE=true

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_USERNAME=nestbook
REDIS_PASSWORD=nestbook


LOG_OUT_DIR=logs
LOG_LEVEL=info